{% load widget_tweaks %}

<form method='post' action='{{ form_tag_action }}' class='ui form js-submit-assign-box-form'>
    {% csrf_token %}
    <div class='ui center aligned segment container'>
        <div class='ui centered header'>
            <h3>Assign Box</h3>
        </div>
        <p class='lead'>Write the ID of the box to assign. Leave empty to remove current assigned box.</p>
        {% include 'samples_manager/form_collapsible_text.html' %}
        {% for field in form %}
        {% include 'samples_manager/form_field.html' %}
        {% endfor %}
        <div class='two ui buttons actions'>
            <button type='button' class='ui deny medium button'>Cancel</button>
            <button type='submit' class='ui positive medium button submit'>Save</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        activateSearchSelectFields();
    });
</script>